<footer class="footer">
    <div class="footer-filler"></div>

    <a href="https://twitter.com/nohwnd">twitter</a>&bull;
    <a href="https://github.com/nohwnd">github</a>&bull;
    <a href="https://linkedin.com/in/jares/">linkedin</a>
</footer>