<header>
    <div>
        <%- partial('logo') %>
        <h1>Jakub Jareš</h1>
        <div>
            <nav>
                <a>Blog</a>
                <a>Projects</a>
                <a>About</a>
            </nav>
</header>