<header class="main-page-header">
    <div>
        <%- partial('logo') %>
        <h1>Jakub Jareš</h1>
        <div>
            <nav>
            <% for (var i in theme.menu){ %> 
                <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>"            
            <% } %>
            </nav>
</header>