<header class="main-page-header">
<div class="main-page-header-filler"></div>
<%- partial('_partial/header') %>
</header>


<div class="list">
<% site.categories.findOne({name: category}).posts.each(function(item){ %>
<div class="list-item">
<%- partial('_partial/article-excerpt', {item: item}) %>
</div>
<% }); %>
<%- partial('_partial/pagination') %>
</div>
<%- partial('_partial/footer') %>