$font-weight-black: 900;
$font-weight-bold: 500;
$font-weight-light: 100;
$accent-color: #46cdcf;
$secondary-accent-color: #458890;
$menu-color: white;

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 128rem;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 4px;
  letter-spacing: 0.4rem;
  font-weight: $font-weight-black;
  text-transform: uppercase;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}

.main-page-header {
  // background: url("../img/bridge.jpg") center center no-repeat;
  // background: linear-gradient(to bottom, transparent 0%, #458890 100%), url("../img/bridge.jpg") center center no-repeat;

  background: linear-gradient(to bottom,rgba(124,232,233, 0.8), rgba(20,151,153, 0.3)), url("../img/bridge.jpg") center center no-repeat;
  
  
  background-size: cover;
  height: 38.4rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  > div > a {
    display: flex;
    flex-flow: column;
    align-items: center;

    svg {
      height: 75px;
      width: 75px;
    }

    h1 {
      margin-bottom: 100px;
      text-align: center;
      color: $menu-color;
    }
  }

  nav {
    > a {
      margin: 70px;
      text-transform: uppercase;
      font-size: 30px;
      color: $menu-color;
      letter-spacing: 4px;
      letter-spacing: 0.4rem;
      font-weight: $font-weight-light;
    }
  }
}

.article {
  margin: 150px 230px;

  header {
    > a,
    a:active,
    a:visited,
    a:hover {
      text-decoration: none;
      color: black;

      div {
        display: flex;
        flex-flow: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        border-right: solid black 8px;
        overflow: hidden;
        padding: 6px 0px 6px 0px;

        // border-right: solid 8px black;
        h1 {
          color: black;
          font-weight: $font-weight-black;
          display: inline;
          margin-block-start: 0em;
          margin-block-end: 0em;
        }

        &:hover .read-more {
          transition: 0.8s;
          right: 0;
        }
      }

      > p {
        margin-top: -0.5rem;
        font-size: 10px;
        font-size: 1rem;
        font-weight: $font-weight-black;
        letter-spacing: 3px;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
      }

      .read-more {
        font-size: 1.3rem;
        opacity: 100;

        border: solid black 6px;
        background: black;
        color: #fff;
        font-weight: $font-weight-black;
        text-transform: uppercase;
        font-family: Lato;

        a,
        a:hover,
        a:active,
        a:visited {
          text-decoration: none;
          color: white;
          text-transform: uppercase;
          font-weight: 700;
          font-family: "Lato";
        }

        position: relative;
        right: -100px;
        transition: 0.2s;
      }
    }
  }

  > div {
    font-family: Roboto, sans-serif;
    font-size: 2em;

    p {
      > a,
      a:active,
      a:visited {
        background: black;
        color: white;
        border: solid black 1px;
      }

      > a:hover {
        background: $accent-color;
        color: white;
        border: solid $accent-color 1px;
      }
    }

    code,
    pre {
      font-family: "Fira Mono", sans-serif;
      background: lightgray;
      border: solid 1px lightgray;
    }
  }

  footer {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: $font-weight-black;
    letter-spacing: 2px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: $accent-color;

    a,
    a:active,
    a:visited,
    a:hover {
      color: $accent-color;
    }

    a:hover {
      color: $secondary-accent-color;
    }

    span {
      float: right;
    }

    time {
      float: left;
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5rem;
  width: 100%;
  background: $accent-color;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: $menu-color;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 4px;
  letter-spacing: 0.4rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  a,
  a:active,
  a:visited,
  a:hover {
    margin: 12px;
    margin: 1.2rem;
    color: $menu-color;
  }
}
