$font-weight-black: 900;
$font-weight-bold: 500;
$font-weight-light: 300;
$accent-color: #46cdcf;
$secondary-accent-color: #458890;
$menu-color: white;
// div {
//   border: solid 1px green
// }

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 80rem;



}

h1 {
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 4px;
  letter-spacing: 0.4rem;
  font-weight: $font-weight-black;
  text-transform: uppercase;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}

.main-page-header {
  height: 30rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;

  >a {

    display: flex;
    flex-flow: column;
    align-items: center;

    svg {
      height: 75px;
      width: 75px;
    }

    h1 {

      text-align: center;
      color: $menu-color;
    }
  }

  >nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {

      text-transform: uppercase;
      font-size: 30px;
      color: $menu-color;
      letter-spacing: 4px;
      letter-spacing: 0.4rem;
      font-weight: $font-weight-light;
    }
  }
}

// .bg {

//   // position: absolute;
//   // width: 100%;
//   height: 38.4rem;
//   background: #149799;

//   background-color: $accent-color;
//   background: linear-gradient(0deg, #7ce8e9 0%, #149799 100%);
//   background-image: url("./../img/home_bg.png");
// }

.article-header {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  height: 30rem;
  font-family: 'Lato';
  color: white;
  margin-bottom: 20px;

  h1 {
    letter-spacing: 5px;

  }

  >div.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    margin-top: 20px;

    >a>div {
      justify-content: flex-start;
      justify-items: flex-start;
      display: flex;
      flex-direction: row;

      svg {
        height: 75px;
        width: 75px;
      }

      h1 {
        margin: 0px;
        margin-left: 20px;
        letter-spacing: 3px;

        color: $menu-color;
      }
    }

    nav {

      a,
      a:hover,
      a:active,
      a:visited {
        margin-left: 20px;
        font-weight: 900i;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        font-style: italic;
        letter-spacing: 2px;

      }
    }
  }

  >div.title {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    >div {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      flex-wrap: wrap-reverse;
      width: 30%;
    }

    p {
      color: white;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 10px;
      letter-spacing: 2px;
      font-weight: $font-weight-black;
      font-style: italic;
      font-size: 16px;
      text-transform: uppercase;
      text-align: left;

      &:before {
        position: relative;
        left: 1px;
        content: '#';
      }
    }



    h1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      letter-spacing: 3px;

      &:before {
        background-color: white;
        content: '\a0';
        flex-grow: 1;
        height: 4px;
        width: 15%;
        position: relative;
        top: 1.7em;
      }

      &:before {
        margin-bottom: 10px;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

}


.list-item {
  margin-bottom: 50px;

}


.article {


  header {

    >a,
    a:active,
    a:visited,
    a:hover {
      text-decoration: none;
      color: black;

      div {
        display: flex;
        flex-flow: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        border-right: solid black 8px;
        overflow: hidden;
        padding: 6px 0px 6px 0px;

        // border-right: solid 8px black;
        h1 {
          color: black;
          font-weight: $font-weight-black;
          display: inline;
          margin-block-start: 0em;
          margin-block-end: 0em;
        }

        &:hover .read-more {
          transition: 0.8s;
          right: 0;
        }
      }

      >p {
        margin-top: -0.5rem;
        font-size: 10px;
        font-size: 1rem;
        font-weight: $font-weight-black;
        letter-spacing: 3px;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
      }

      .read-more {
        font-size: 1.3rem;
        opacity: 100;

        border: solid black 6px;
        background: black;
        color: #fff;
        font-weight: $font-weight-black;
        text-transform: uppercase;
        font-family: Lato;

        a,
        a:hover,
        a:active,
        a:visited {
          text-decoration: none;
          color: white;
          text-transform: uppercase;
          font-weight: 700;
          font-family: "Lato";
        }

        position: relative;
        right: -100px;
        transition: 0.2s;
      }
    }
  }

  
  .article-content {
    font-family: Roboto, sans-serif;
    font-size: 2em;

    p {
      margin-top: 0px;

      >a,
      a:active,
      a:visited {
        background: black;
        color: white;
        border: solid black 1px;
      }

      >a:hover {
        background: $accent-color;
        color: white;
        border: solid $accent-color 1px;
      }
    }

    // code,
    // pre {
    //   font-family: "Fira Mono", monospace;
    //   background: lightgray;
    //   border: solid 1px lightgray;
    // }
  }


  footer {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: $font-weight-black;
    letter-spacing: 2px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: $accent-color;

    a,
    a:active,
    a:visited,
    a:hover {
      color: $accent-color;
    }

    a:hover {
      color: $secondary-accent-color;
    }

    span {
      float: right;
    }

    time {
      float: left;
    }
  }
}

.footer {

  height: 5rem;
  width: 100%;
  background: $accent-color;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: $menu-color;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 4px;
  letter-spacing: 0.4rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  a,
  a:active,
  a:visited,
  a:hover {
    margin: 12px;
    margin: 1.2rem;
    color: $menu-color;
  }
}

.footer-filler { 
  background:$accent-color;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.main-page-header-filler { 
  background-color: $accent-color;
  background: linear-gradient(0deg, #7ce8e9 0%, #149799 100%);
  background-image: url("./../img/home_bg.png");
  background-size: cover;
  width: 100%;
  height: 30rem;
  position: absolute;
  left: 0;
  z-index: -1;
}