<header class="main-page-header">
<div class="main-page-header-filler"></div>
<%- partial('_partial/header') %>
</header>


<div class="list">

<% let tag= site.tags.findOne({name: page.tag})
    if (!!tag) {
        tag.posts.sort('date',1).reverse().each(function(item){ %>
<div class="list-item">
<%- partial('_partial/article-excerpt', {item: item}) %>
</div>
<% })}; %>
</div>
<%- partial('_partial/footer') %>