
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>jakubjares.com</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lato:100,300,400,700,900,900i|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css" integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%- css('scss/styles') %>
    <%- css('scss/highlight') %>
    <%- partial('_partial/google-analytics') %>
</head>

<body>
    <%- body %>
</body>

</html>
