
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>jakubjares.com</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lato:100,300,400,700,900,900i|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <%- css('scss/styles') %>
    <%- partial('_partial/google-analytics') %>
</head>

<body>
    <%- body %>
</body>

</html>
